/* PAGE */
.addDog-btn {
    border-radius: 1.5rem;
}

.dogs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.dog {
    background-color: bisque;
    width: 20rem;
    height: 10rem;
    padding: 0.5rem;
    margin: 2.5rem;
    border-radius: 1.5rem;
}

.dog:hover {
    filter: brightness(0.9);
}

.dog-header {
    font-weight: 500;
}

/* FORM */
.popupForm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
    border-radius: 1rem;
}

.popup-inner .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 0.3rem;
}

.submit-button {
    border-radius: 0.5rem;
}

/* DETAILS */
.dogDetails {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.dogDetails-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
    border-radius: 1rem;
}

.dogDetails-inner .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 0.3rem;
}